<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    Welcome home {{context.name}}
</head>
<body>
<div>
    <form action="/posting" method="POST">
        <textarea name="comment" rows=“100” cols=“100></textarea>
        <input type="submit">
    </form>
</div>
<div>
    <a href="search_page">Search</a>
</div>
<div>
    <a href="profile_jmp">Profile</a>
</div>
<div>
    <p>{{context.name}} : {{context2.data}}</p>
</div>
<div>
    <form action="/logout" method="GET">
        <button  type="submit" value="Logout">Logout</button><br><br>
    </form>
</div>
</body>
</html>