<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    Login Form
</head>
<body>
<div>
    <form action="/login", method="POST">
        <br>
        <label>Email Address</label><br><br>
        <input name="email" type="email" placeholder="Enter your email" ><br><br>
        <label>Password</label><br><br>
        <input name="password" type="password" placeholder="Enter your password" ><br><br>
        <input type="submit" value="LOGIN"><br><br>
    </form>
</div>
<div>
    <form action="/register">
        <label>New user</label>
        <input value="Register" type="submit">
    </form>
</div>
</body>
</html>