<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    Register a new user here
</head>
<body>
<div>
    <form action="/register" method="post">
        <label>Username</label><br>
        <input placeholder="text" name="username" id="name"><br><br>
        <label>Email Address</label><br>
        <input placeholder="email" name="email" id="email"><br><br>
        <label>Password</label><br>
        <input placeholder="password" name="password" id="password"><br><br>
        <label>Password confirmation</label><br>
        <input placeholder="password" name="confirm_password" id="password2"><br><br>
        <input type="submit" value="CREATE USER">
    </form>
</div>
</body>
</html>

